# Yii2 backend
backend/config/local.php
backend/config/console-local.php
backend/docker-compose.yml
backend/docker-compose-example.yml
backend/vendor/
backend/.env

# React frontend
frontend/public/build
frontend/node_modules
frontend/website

docker-compose.yml
*.swp
.vimrc
