# Yii2 backend
backend/config/local.php
backend/config/console-local.php
backend/docker-compose.yml
backend/docker-compose-example.yml
backend/vendor/
backend/.env

# React frontend
frontend/public/build
frontend/node_modules
frontend/website

.DS_Store
*.log

frontend/coverage
frontend/build/server.js
frontend/build/server.js.map
frontend/build/public/assets
frontend/webpack-assets.json
frontend/webpack-stats.json


docker-compose.yml
*.swp
.vimrc
